.advanced-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.advanced-card {
    height: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
}

.advanced-img,
.advanced-img-placeholder {
    height: 250px;
    width: 100%;
    background-color: #f8f9fa;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
